.body {
  padding: 30px;
}

.form {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px;
  max-width: 480px;
}

.from-input {
  display: block;
  padding: 10px;
  border: none;
  background-color: rgb(243, 239, 233);
  border-radius: 5px;
  margin-bottom: 5px;
  width: 400px;
}


.delete-btn {
  background-image: url('./images/trash-can-10409.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  background-color: transparent;
  border: none;
}

.submit-btn {
  background-color: rgb(243, 239, 233);
  padding: 10px 168px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: opacity 0.3s ease;
}

.submit-btn:hover, .delete-btn:hover, .checkbox:hover, .checkbox-checked:hover {
  cursor: pointer;
  opacity: 0.7;
}


.submit-btn:disabled {
   background-color: rgb(230, 228, 228);
   cursor: not-allowed;
   opacity: 1;
}


.body__container {
  padding: 0;
  margin: 0;
}

