.body {
  padding: 30px;
}

.form {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px;
  max-width: 480px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.from-input {
  display: block;
  padding: 10px;
  border: none;
  background-color: rgb(243, 239, 233);
  border-radius: 5px;
  margin-bottom: 5px;
  width: 250px;
}

.task__header {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 5px;
  max-width: 500px;
  justify-content: space-between;
}

.task__body {
  padding: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 600px;
  margin-bottom: 15px;
}

.task__title {
  margin-right: 15px;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
}

.checkbox-checked {
  background-image: url('./images/check-mark-svgrepo-com.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
}

.delete-btn {
  background-image: url('./images/trash-can-10409.svg');
  background-position: center;
  background-size: contain;
  width: 17px;
  height: 15px;
  background-color: transparent;
  border: none;

}

.submit-btn:disabled {
   background-color: gray;
   cursor: not-allowed;
   opacity: 1;
}

.task__doc {
  width: 20px;
  height: 20px;
}

.task__doc-pic {
  width: 100%;
  object-position: center;
  object-fit: contain;
}


